*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: aqua;

}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    height: 50px;
    background-color: wheat;
}