* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./background.png);
    background-size: cover;
}

.time {
    display: flex;
    color: white;
    align-items: center;
    height: 80vh;
}

.time div {
    flex-basis: 100px;
    margin: 20px;
}

.time div p {
    font-size: 60px;
}

.time div span {
    font-size: 20px;
}

.rocket {
    position: absolute;
    right: 10%;
    bottom: 0;
    width: 10%;
    animation: launch 5s linear infinite;
}

@keyframes launch {
    0% {
        bottom: 0;
        opacity: 0;
    }
    100% {
        bottom: 100%;
        opacity: 1;
    }
}