* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 50px;
    text-align: center;
}

.infoContainer {
    display: flex;
    width: 100vw;
}

.innerDiv {
    width: 250px;
    background-color: rgb(201, 160, 160);
    margin: 10px;
}

#img {
    height: 300px;
    width: 250px;
}