body {
    background-color: rgb(69, 119, 100);
      display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(1, 31, 21);
    padding: 40px 150px;
}

#span {
    display: block;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    padding: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: chocolate;
}